<!-- Robosem motion retargeting rapp launcher -->
<launch>
  <!-- Motion tracking -->
  <include file="$(find robosem_motion_retargeting_controller)/launch/openni_tracker.launch"/>
  <!-- Motion retargeting -->
  <include file="$(find robosem_motion_retargeting_controller)/launch/controller.launch"/>
</launch>