<launch>
  <!-- start kinect -->
  <include file="$(find reem_teleop_coordinator)/launch/reem_teleop_start_kinect.launch" />

  <!-- start reem simulation in gazebo -->
  <include file="$(find reem_teleop_coordinator)/launch/reem_teleop_start_reem_gazebo.launch" />
  
  <!-- start reem motion planning pipeline -->
  <include file="$(find rh2_3dnav)/launch/trajectory_validator.launch" />

  <!-- load parameters -->
  <include file="$(find rh2_3dnav)/launch/trajectory_validator.launch" />

  <!-- launch rviz windows for kinect and reem -->
  <include file="$(find reem_teleop_coordinator)/launch/start_rviz.launch" />  

  <!-- start reem teleoperation pipeline -->
  <include file="$(find reem_teleop_coordinator)/launch/start_teleop_pipeline_gazebo.launch" />  
</launch>
