<launch>

  <rosparam file="$(find reem_teleop_coordinator)/config/reem_teleop_config.yaml" command="load" />

  <!-- start openni kinect drivers -->
    <include file="$(find openni_camera)/launch/openni_kinect.launch" />

  <!-- start openni_tracker -->
    <node pkg="openni_tracker" type="openni_tracker" name="openni_tracker" />

  <!-- start rh2 motion planning pipeline -->
    <include file="$(find rh2_3dnav)/launch/trajectory_validator.launch" />

  <!-- start rviz -->
    <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find reem_teleop_coordinator)/config/reem_teleop_rviz_config.vcg" />

  <!-- start rxconsole -->
    <node pkg="rxtools" type="rxconsole" name="rxconsole" />

  <!-- start reem teleoperation pipeline -->

    <!-- part 1: load parameters on the server -->
      
      
    <!-- part 2: motion adaption node -->
      <node pkg="motion_adaption" type="motion_adaption_node" name="motion_adaption_node" />

    <!-- part 3: the kinematics node -->
      <node pkg="tree_kinematics" type="tree_kinematics_node" name="tree_kinematics_node" />
    
    <!-- part 4: the start tree_joint_controller -->
      <node pkg="pr2_controller_manager" type="spawner" args="joint_position_controller" name="pr2_controller_manger" />

    <!-- part 5: the reem teleop coordinator -->
      <node pkg="reem_teleop_coordinator" type="reem_teleop_coordinator_node" name="reem_teleop_coordinator_node" />

</launch>
