<launch>
  <!-- start kinect -->
  <!-- <include file="$(find reem_teleop_coordinator)/launch/reem_teleop_start_kinect.launch" />  -->

  <!-- start reem simulation in gazebo -->
  <!-- <include file="$(find reem_teleop_coordinator)/launch/reem_teleop_start_reem_gazebo.launch" />  -->
  
  <!-- start reem motion planning pipeline -->
  <include file="$(find rh2_3dnav)/launch/trajectory_validator.launch" />

  <!-- start rviz -->
  <node pkg="rviz" type="rviz" output="screen" name="rviz_kinect" args="-d $(find reem_teleop_coordinator)/config/reem_teleop_rviz_kinect_config.vcg" />
  <node pkg="rviz" type="rviz" output="screen" name="rviz_teleop" args="-d $(find reem_teleop_coordinator)/config/reem_teleop_rviz_teleop_config.vcg" />  

  <!-- start rxconsole -->
  <node pkg="rxtools" type="rxconsole" name="rxconsole" />

  <!-- start reem teleoperation pipeline -->
  <include file="$(find reem_teleop_coordinator)/launch/reem_teleop_start_teleop_pipeline.launch" />  
</launch>
