<launch>
    <!-- step 1: motion adaption node -->
    <node pkg="motion_adaption" type="motion_adaption_node" name="motion_adaption_node" />

    <!-- step 2: the kinematics node -->
    <node pkg="tree_kinematics" type="tree_kinematics_node" name="tree_kinematics_node" />

    <!-- step 3: the reem teleop coordinator -->
    <node pkg="reem_teleop_coordinator" type="reem_teleop_coordinator_node" name="reem_teleop_coordinator_node" />
</launch>    
