<launch>

  <!-- start environment server (for self-collision checking)-->
  <!-- Load URDF in param server -->
  <include file="$(find reem_description)/robots/upload_reem.launch" />

  <!-- start gazebo with an empty plane -->
  <param name="/use_sim_time" value="true" />
  <node name="gazebo" pkg="gazebo" type="gazebo" args="$(find gazebo_worlds)/worlds/empty.world" respawn="false" />

  <!-- start reem without any defaut controllers -->
  <include file="$(find reem_gazebo)/launch/reem_no_controllers.launch" />
  
  <!-- start environment server (for self-collision checking)-->
  <include file="$(find reem_3dnav)/launch/trajectory_validator_static.launch" />
  <!-- Arm navigation -->
  <!-- <include file="$(find reem_3dnav)/launch/upper_body_navigation.launch"/>-->
  
  <!-- start the joint position controller (stopped) -->
  <include file="$(find reem_teleop_coordinator)/launch/start_joint_position_controller.launch" />
  
</launch>
