<launch>
  <!-- robot torso link -->
  <node name="tf_pub_robot_torso"       pkg="tf" type="static_transform_publisher" args=" 2.00  0.00  1.10  1.57 0 1.57 base_link torso 30" />

  <!-- head -->
  <node name="tf_pub_torso_neck"        pkg="tf" type="static_transform_publisher" args=" 0.00  0.40  0.00  0.00  0.00  0.00 torso neck 30" />
  <node name="tf_pub_neck_head"         pkg="tf" type="static_transform_publisher" args=" 0.00  0.20  0.00  0.00  0.80  0.80 neck head 30" />
  <!-- upper body -->
  <node name="tf_pub_torso_r_shoulder"  pkg="tf" type="static_transform_publisher" args=" 0.25  0.40  0.00  0.00 -0.50  0.5 torso right_shoulder 30" />
  <node name="tf_pub_torso_r_elbow"     pkg="tf" type="static_transform_publisher" args=" 0.00 -0.30  0.00  0.00  0.00  0.00 right_shoulder right_elbow 30" />
  <node name="tf_pub_torso_r_hand"      pkg="tf" type="static_transform_publisher" args=" 0.00 -0.30  0.00  0.00  0.00  0.00 right_elbow right_hand 30" />
  <node name="tf_pub_torso_l_shoulder"  pkg="tf" type="static_transform_publisher" args="-0.25  0.40  0.00 -0.78  0.00  0.00 torso left_shoulder 30" />
  <node name="tf_pub_torso_l_elbow"     pkg="tf" type="static_transform_publisher" args=" 0.00 -0.3   0.00  0.00  0.00  0.00 left_shoulder left_elbow 30" />
  <node name="tf_pub_torso_l_hand"      pkg="tf" type="static_transform_publisher" args=" 0.00 -0.3   0.00  0.00  0.00  0.00 left_elbow left_hand 30" />
  <!-- lower body -->
  <node name="tf_pub_torso_r_hip"       pkg="tf" type="static_transform_publisher" args=" 0.20 -0.40  0.00  0.00  0.00  0.00 torso right_hip 30" />
  <node name="tf_pub_torso_r_knee"      pkg="tf" type="static_transform_publisher" args=" 0.00 -0.35  0.00  0.00  0.00  0.00 right_hip right_knee 30" />
  <node name="tf_pub_torso_r_foot"      pkg="tf" type="static_transform_publisher" args=" 0.00 -0.35  0.00  0.00  0.00  0.00 right_knee right_foot 30" />
  <node name="tf_pub_torso_l_hip"       pkg="tf" type="static_transform_publisher" args="-0.20 -0.40  0.00  0.00  0.00  0.00 torso left_hip 30" />
  <node name="tf_pub_torso_l_knee"      pkg="tf" type="static_transform_publisher" args=" 0.00 -0.35  0.00  0.00  0.00  0.00 left_hip left_knee 30" />
  <node name="tf_pub_torso_l_foot"      pkg="tf" type="static_transform_publisher" args=" 0.00 -0.35  0.00  0.00  0.00  0.00 left_knee left_foot 30" />
</launch>
