<!--
  Visualise the Robosem and the motion tracker input
 -->
<launch>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robosem_motion_retargeting_controller)/rviz/view_pendant_motion_retargeting.rviz"/>
  
  <node name="tf_robot_pendant_link" pkg="tf" type="static_transform_publisher" args="0.0 1.0 0.3 -1.57 0 0 base_footprint torso_link 100" />
</launch>
