<launch>
  <!-- camera link -->
  <node name="tf_pub_robot_camera" pkg="tf" type="static_transform_publisher" args="0.3 0.0 0.325 0 -0.4 0 base_link camera_link 30" />
  <node name="tf_pub_camera_torso"      pkg="tf" type="static_transform_publisher" args=" 2.0 0.0 0.0 1.5707  0.0 1.0707 camera_link torso_1 30" />

  <!-- default -->
  <node name="tf_pub_torso_head"        pkg="tf" type="static_transform_publisher" args=" 0.0 0.6 0.0 0.0     0.0 0.0 torso_1 head_1 30" />

  <node name="tf_pub_torso_r_shoulder"  pkg="tf" type="static_transform_publisher" args=" 0.25  0.40  0.00  0.00  0.00  0.00 torso_1 right_shoulder_1 30" />
  <node name="tf_pub_torso_r_elbow"     pkg="tf" type="static_transform_publisher" args=" 0.00 -0.30  0.00  0.00  0.00  0.00 right_shoulder_1 right_elbow_1 30" />
  <node name="tf_pub_torso_r_hand"      pkg="tf" type="static_transform_publisher" args=" 0.00 -0.30  0.00  0.00  0.00  0.00 right_elbow_1 right_hand_1 30" />
  <node name="tf_pub_torso_l_shoulder"  pkg="tf" type="static_transform_publisher" args="-0.25  0.40  0.00  0.00  0.00  0.00 torso_1 left_shoulder_1 30" />
  <node name="tf_pub_torso_l_elbow"     pkg="tf" type="static_transform_publisher" args=" 0.00 -0.3   0.00  0.00  0.00  0.00 left_shoulder_1 left_elbow_1 30" />
  <node name="tf_pub_torso_l_hand"      pkg="tf" type="static_transform_publisher" args=" 0.00 -0.3   0.00  0.00  0.00  0.00 left_elbow_1 left_hand_1 30" />
  
  <node name="tf_pub_torso_r_hip"       pkg="tf" type="static_transform_publisher" args=" 0.20 -0.40  0.00  0.0  0.0  0.9 torso_1 right_hip_1 30" />
  <node name="tf_pub_torso_r_knee"      pkg="tf" type="static_transform_publisher" args=" 0.00 -0.35  0.00  0.0  0.0  0.0 right_hip_1 right_knee_1 30" />
  <node name="tf_pub_torso_r_foot"      pkg="tf" type="static_transform_publisher" args=" 0.00 -0.35  0.00  0.0  0.0  0.0 right_knee_1 right_foot_1 30" />
  <node name="tf_pub_torso_l_hip"       pkg="tf" type="static_transform_publisher" args="-0.20 -0.40  0.00  0.0  0.0  0.9 torso_1 left_hip_1 30" />
  <node name="tf_pub_torso_l_knee"      pkg="tf" type="static_transform_publisher" args=" 0.00 -0.35  0.00  0.0  0.0  0.0 left_hip_1 left_knee_1 30" />
  <node name="tf_pub_torso_l_foot"      pkg="tf" type="static_transform_publisher" args=" 0.00 -0.35  0.00  0.0  0.0  0.0 left_knee_1 left_foot_1 30" />
</launch>
