<launch>

  <!-- static transform for connecting the tf trees of the openni tracker's skeleton and the robot model -->
  <include file="$(find reem_teleop_coordinator)/launch/tree_connector.launch" />

  <!-- start reem in gazebo -->
  <include file="$(find reem_teleop_coordinator)/launch/start_reem_gazebo.launch" />
  
  <!-- start kinect -->
  <include file="$(find reem_teleop_coordinator)/launch/start_kinect.launch" />
  
  <!-- start teleop nodes -->
  <include file="$(find reem_teleop_coordinator)/launch/start_teleop_nodes.launch" />
  
  <!-- start rviz -->
  <include file="$(find reem_teleop_coordinator)/launch/start_rviz_launch_single.launch" />

</launch>
